.text-golden-stroke {
       /* Large font size */
        font-weight: 900; /* Extra bold */
        color: black; /* Main text color */
        text-shadow: 4px 2px 4px rgb(255, 208, 0); 
  }

  


  